<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Using templates</title>
    
  </head>
  <body>
    {% for greeting in greetings %}
    {% if greeting.author %}
    <b>{{ greeting.author }}</b> wrote:
    {% else %}
    An anonymous person wrote:
    {% endif %}
    <blockquote>
      {{ greeting.content|escape }}
    </blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div>
        <textarea name="content" rows="3" cols="60"></textarea>
      </div>
      <div>
        <input type="submit" value="Sign Guestbook">
      </div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
